.theme {
    --color1: rgb(56, 200, 237);
    --color2: rgb(125, 213, 220);
    --color3: rgb(145, 167, 236);
    --color4: rgb(152, 143, 245);
}

main {
    margin-top: 90px;
    padding: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    height: max-content;
}

.student {
    background: var(--color1);
}

.student:hover {
    background: var(--color2);
}

.teacher {
    background: var(--color3);
}

.teacher:hover {
    background: var(--color4);
}

.btn:hover {
    background: #218838;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 380px) {
    header h1 {
        font-size: 1.2em !important;
    }
}
header h1 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
}

@media (max-width: 300px) {
    .logo {
        width: 40px !important;
        height: 40px !important;
    }
}
.logo {
    width: 60px;
    height: 60px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

header ul li {
    display: inline;
}

header ul .active a {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
header ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
header ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: .2s ease;
}
