@media (max-width: 767.98px) {
    .section {
        padding-bottom: 3rem;
    }
}
@media (max-width: 1199.98px) {
    .section {
        padding-bottom: 6.75rem;
    }
}
@media (max-width: 1399.98px) {
    .section {
        padding-bottom: 7rem;
    }
}
.section {
    padding-bottom: 7.75rem;
}
.section {
    position: relative;
}
@media (max-width: 767.98px) {
    .section {
        padding: 3.5rem 0;
    }
}

.container,.container-fluid,.container-mac,.container-xxxl,.container-xxl,.container-xl,.container-lg,.container-md,.container-sm {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container-sm,.container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container-md,.container-sm,.container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container-lg,.container-md,.container-sm,.container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container-xl,.container-lg,.container-md,.container-sm,.container {
        max-width:1140px
    }
}

@media (min-width: 1400px) {
    .container-xxl,.container-xl,.container-lg,.container-md,.container-sm,.container {
        max-width:1250px
    }
}

@media (min-width: 1600px) {
    .container-xxxl,.container-xxl,.container-xl,.container-lg,.container-md,.container-sm,.container {
        max-width:1350px
    }
}

@media (min-width: 2000px) {
    .container-mac,.container-xxxl,.container-xxl,.container-xl,.container-lg,.container-md,.container-sm,.container {
        max-width:1650px
    }
}

.text-center {
    text-align: center !important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.row {
    display: flex
;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}
